<div class="banner-container">
    <div class="banner-container">
        <img src="imagenes/banner2.png" alt="">
    </div>
</div>

<!-- BODY: Contenido de la página -->
<div class="container">
    <!-- Sección "Carreras" -->
    <div id="sections-placeholder">
        {{#each carrerasUnsa}}
            <div class="carrera" id="{{title.toLowerCase}}-carrera">
                <h1>{{title}}</h1>
                <div class="contenedor-secciones">
                    {{#each sections}}
                        <section class="anio">
                            <h2>{{title}}</h2>
                            <ul>
                                {{#each links}}
                                    <li><a href="/examenes-unsa">{{text}}</a></li>
                                    {{!-- <li>{{examen}}</li> --}}
                                {{/each}}
                            </ul>
                        </section>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
